<div class="background">
    <div class="content">
        <img src="{{ siteUrl }}style/img/circle1.png" style="width:150px; height:auto">
        <img src="{{ siteUrl }}style/img/circle3.png" style="width:160px; height:auto">
        <img src="{{ siteUrl }}style/img/circle2.png" style="width:60px; height:auto">
        <img src="{{ siteUrl }}style/img/circle4.png" style="width:180px; height:auto">
        <img src="{{ siteUrl }}style/img/circle3.png" style="width:50px; height:auto">
        <img src="{{ siteUrl }}style/img/circle1.png" style="width:200px; height:auto">
        <img src="{{ siteUrl }}style/img/circle1.png" style="width:50px; height:auto">
        <img src="{{ siteUrl }}style/img/circle2.png" style="width:80px; height:auto">
        <img src="{{ siteUrl }}style/img/circle4.png" style="width:70px; height:auto">
        <img src="{{ siteUrl }}style/img/circle1.png" style="width:150px; height:auto">
        <img src="{{ siteUrl }}style/img/circle2.png" style="width:200px; height:auto">
    </div>
</div>    